{% load static %}

<!-- http://www.ribeiromartins.adv.br/trabalhista/?gclid=Cj0KEQiA-_HDBRD2lomhoufc1JkBEiQA0TVMmk-8J5V5pgVcK7XwA_eMffmroBBrF-1YRFYgPoyZkKgaAvj58P8HAQ#contato -->
<!-- https://www.grupocardosodealmeida.org/direito-do-trabalho -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Foi demitido ou pediu demissão? Fale com um advogado trabalhista</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'landing/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'landing/fonts/icomoon/style.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'landing/fonts/flaticon/flaticon.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'landing/style.css' %}">
		<link href="{% static 'landing/css/index.css' %}" rel="stylesheet" type="text/css">

	</head>


	<body>

		<div class="site-content">
			<div class="container">
				<main class="main-content">
					<div class="content">
						<header class="site-header">
							<a href="" class="logo"><img src="{% static 'landing/img/logo-mpg.png' %}" alt=""></a>
							<div class="header-type">
								<h1>Foi demitido ou pediu demissão?</h1>
								<p>Fale com um de nossos advogados trabalhistas e conheça seus direitos.</p>
							</div>
						</header> <!-- .site-header -->

						<div class="banner">
							<img src="{% static 'landing/img/carteira3.jpg' %}" alt="Banner">
						</div>


						<button class="full blue visible-xs visible-sm scroll-to-form">Solicitar Contato</button>



						<h2>Você se encaixa em alguma dessas situações?</h2>
						<p>Nossa equipe de advogados conta com vasta experiência em todas às áreas do Direito do Trabalho, prestando serviços de assessoria jurídica, preventiva ou contenciosa, tanto para o Trabalhador Empregado, como para o Empresário dono de empresas.</p>

						<div class="features">
							<div class="feature">
								<div class="feature-icon large">
									<i class="glyph-icon flaticon-fired"></i>
								</div>
								<h2 class="feature-title">Foi demitido sem justa causa?</h2>
								<p>Se você foi dispensado e precisa de orientações a respeito de seus direitos, bem como a elaboração de cálculos de verbas rescisórias e a propositura de reclamação trabalhista, entre em contato agora mesmo!</p>
							</div>
							<div class="feature">
								<div class="feature-icon large">
									<i class="glyph-icon flaticon-dislike"></i>
								</div>
								<h2 class="feature-title">A empresa comete irregularidades?</h2>
								<p>Para esses tipos de situação, existe a figura da rescisão indireta. Conte-nos a situação que ocorre na empresa, para que possamos elaborar as medidas cabíveis ao seu caso particular.</p>
							</div>
							<div class="feature">
								<div class="feature-icon large">
									<i class="glyph-icon flaticon-accident"></i>
								</div>
								<h2 class="feature-title">Sofreu acidente de trabalho?</h2>
								<p>O empregado que sofreu algum tipo de acidente de trabalho tem direito à indenizações. Se este é seu caso, consulte-nos para que possamos esclarecer suas dúvidas.</p>
								</p>
							</div>
							<div class="feature">
								<div class="feature-icon large">
									<i class="glyph-icon flaticon-no-dollars-accepted"></i>
								</div>
								<h2 class="feature-title">Atrasos e Danos Morais</h2>
								<p>Você sabia que quando a empresa atrasa o pagamento de salário ou outro benefício, o funcionário pode recuperar estes valores com multas e reajustes e ainda ganhar uma indenização?</p>
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<button class="full blue visible-xs visible-sm scroll-to-form">Solicitar Contato</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h2>Dúvidas Frequentes</h2>
							</div>
						</div>
						<div class="row">

							<div class="col-md-6">
								<div class="feature rounded-icon">
									<div class="feature-icon">
										<i class="glyph-icon flaticon-money"></i>
									</div>
									<h3 class="feature-title">Tenho que pagar alguma coisa antecipada?</h3>
									<p>Não. Em nosso escritório o atendimento trabalhista é grátis e você só paga se ganhar a causa.</p>
								</div>

								<div class="feature rounded-icon">
									<div class="feature-icon">
										<i class="glyph-icon flaticon-waiting"></i>
									</div>
									<h3 class="feature-title">Quanto tempo vai demorar meu processo?</h3>
									<p>
										Caso haja acordo, um processo trabalhista leva cerca de apenas quatro meses para que seja concluído.
										Para isso, basta que o advogado esteja atento ao andamento e prazos do processo.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="feature rounded-icon">
									<div class="feature-icon">
										<i class="glyph-icon flaticon-like"></i>
									</div>
									<h3 class="feature-title">Vale a pena entrar com o processo?</h3>
									<p>
										Em nosso escritório, a cada 10 processos distribuídos, conseguimos ganhar 90% em méida.
										Descubra sobre o seu caso, clicando aqui.
									</p>
								</div>

								<div class="feature rounded-icon">
									<div class="feature-icon">
										<i class="glyph-icon flaticon-money-report"></i>
									</div>
									<h3 class="feature-title">Quanto vou ganhar pelo meu processo?</h3>
									<p>
										Cada caso tem suas particularidades e depende de muitos fatores. Fale ainda hoje com um de nossos advogados e saiba
										quanto poderá ganhar em seu processo trabalhista.
									</p>
								</div>
							</div>
						</div>



					</div> <!-- /content -->

					<div class="aside">
						<form action="http://formspree.io/thi.vod@gmail.com" method="post" class="signup-form">
							<div class="form-header">
								<h2>Fale com um Advogado</h2>
								<p>Preencha o formulário abaixo e nossos advogados trabalhistas entrarão em contato.</p>
							</div>
							<div class="form-content">
								<p><input type="text" name="Nome" placeholder="Nome + Sobrenome"></p>
								<p><input type="text" name="Telefone" class="phone-mask" placeholder="Telefone"></p>
								<p><textarea name="Mensagem" placeholder="(OPCIONAL) Conte sobre seu caso"></textarea></p>

								<p>
									<input type="submit" value="SOLICITAR CONTATO">
								</p>
								<p class="info">Seus dados estão seguros e nunca serão compartilhados sem autorização.</p>
							</div>
						</form>
					</div>
				</main>

				<footer class="site-footer">
					<div class="row">
						<div class="col-md-8">
							<p>Copyright &copy; 2017 MPG Advogados. Todos os direitos reservados.</p>
						</div>
					</div>
				</footer>

			</div>

		</div>

		<script src="{% static 'landing/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'landing/js/plugins.js' %}"></script>
		<script src="{% static 'landing/js/app.js' %}"></script>
		<script src="{% static 'landing/js/jquery.mask.min.js' %}"></script>

		<script type="text/javascript">

	    // =====
	    // Affix
	    // =====
	    $(function() {
	        $(window).scroll(function() {
	            if($(window).scrollTop() >= 650) {
	                $('.floating-lead-form-wrapper').fadeIn('fast');
	            }else{
	                $('.floating-lead-form-wrapper').fadeOut('fast');
	            }
	        });
	    });

			// ======
	    // Scroll
	    // ======
	    $(".scroll-to-form").click(function() {
			  $("html, body").animate({ scrollTop: $(".aside").offset().top }, "slow");
			  return false;
			});

			// =====
			// Masks
			// =====
			var options =  {onKeyPress: function(value, e, field, options){
				var masks = ['(00) 0000-00000', '(00) 00000-0000'];
				mask = (value.length>14) ? masks[1] : masks[0];
				$('.phone-mask').mask(mask, options);
			}};

			$('.phone-mask').mask('(00) 0000-00000', options);

		</script>

	</body>

</html>
